<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Módulos</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="segundo-form.component.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-navbar></app-navbar>
    <div class="container-main">
      <form [formGroup]="modulosForm" (ngSubmit)="onSubmit()">
        <div formArrayName="modulos" class="module-group">
          <div
            *ngFor="let modulo of modulos.controls; let i = index"
            [formGroupName]="i"
            class="module"
          >
            <div class="module-header" (click)="toggleModule(i)">
              <h3>Módulo {{ i + 1 }}</h3>
              <i
                class="fas"
                [class.fa-chevron-down]="!isExpanded[i]"
                [class.fa-chevron-up]="isExpanded[i]"
              ></i>
            </div>
            <div class="module-content" *ngIf="isExpanded[i]">
              <div class="form-group">
                <label for="titulo-{{ i }}">Título:</label>
                <input id="titulo-{{ i }}" formControlName="titulo" />
                <div
                  *ngIf="
                    modulo.get('titulo')?.invalid &&
                    modulo.get('titulo')?.touched
                  "
                  class="error-message"
                >
                  O título é obrigatório.
                </div>
              </div>

              <div class="form-group">
                <label for="descricao-{{ i }}">Descrição:</label>
                <textarea
                  id="descricao-{{ i }}"
                  formControlName="descricao"
                ></textarea>
              </div>

              <div class="form-group">
                <label for="video-{{ i }}">Vídeo (URL):</label>
                <input id="video-{{ i }}" formControlName="video" />
              </div>

              <div class="form-group">
                <label for="imagens-{{ i }}"
                  >Imagens (URLs separadas por vírgula):</label
                >
                <input id="imagens-{{ i }}" formControlName="imagens" />
              </div>
            </div>
            <hr />
          </div>
        </div>

        <button type="submit" class="btn-finalizar">Finalizar</button>
      </form>
    </div>
  </body>
</html>
