<div class="navbar">
  <img src="assets/img/eurofarma_logo_branco.png" alt="Logo Eurofarma" class="navbar-logo">
  <div class="navbar-links">
    <a href="home">Início</a>
    <a href="conclusao-curso">Certificados</a>
    <a *ngIf="isAdmin" href="app-dashboard">
      Relatório de Desempenho
    </a>
    <a *ngIf="isAdmin" href="primeiro-form">
        Cadastro de Cursos
    </a>
    <a href="login">
      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
      Sair
    </a>
  </div>
</div>
