<div class="container">
    <!-- DotLottie Player para animação de confete -->
    <dotlottie-player src="https://lottie.host/e4ecd7da-c935-4ce3-ab97-b898c498172f/ujiZUgV5QT.json" 
                      background="transparent" 
                      speed="1" 
                      style="width: 300px; height: 300px" 
                      direction="1" 
                      playMode="normal" 
                      autoplay>
    </dotlottie-player>

    <h1>Parabéns!</h1>
    <p>Você concluiu com sucesso o curso. Estamos muito orgulhosos de você!</p>

    <button id="certificado" >Emitir Certificado</button>
    <!-- <button id="certificado" (click)="registrarClicks('certificado', emitirCertificado)">Emitir Certificado</button> -->
</div>
