<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap"
    rel="stylesheet"
  />
</head>
<app-navbar></app-navbar>
<h1>Acesse, faça download e compartilhe seus certificados:</h1>
<div
  style="
    position: relative;
    width: 20%;
    height: 0;
    padding-top: 70.7071%;
    padding-bottom: 0;
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    margin-left: 30px;
    border-radius: 8px;
    will-change: transform;
  "
>
  <iframe
    loading="lazy"
    style="
      position: absolute;
      width: 100%;
      height: 20%;
      top: 0;
      left: 0;
      border: none;
      padding: 0;
      margin: 0;
    "
    src="https://www.canva.com/design/DAGR68FrWyY/Bu2LviTDhJkqHq35JblEzA/view?embed"
    allowfullscreen="allowfullscreen"
    allow="fullscreen"
  >
  </iframe>
</div>
<a
  href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGR68FrWyY&#x2F;Bu2LviTDhJkqHq35JblEzA&#x2F;view?utm_content=DAGR68FrWyY&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
  target="_blank"
  rel="noopener"
  >Blue Navy and Tosca Elegant Modern Medical Appreciation Certificate
</a>
de gabi.terzig
