.container-fluid {
    /* padding: 20px; */
    background-color: #002c4e;
    font-family: "Raleway", sans-serif;   
  }
  
  .left-panel {
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 800px;
  }
  
  .right-panel {
    background-color: #002c4e;
    color: white;
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;                   /* Ativa o Flexbox */
    flex-direction: column;         /* Alinha os itens em coluna */
    align-items: center;            /* Centraliza os itens horizontalmente */
    justify-content: center;        /* Centraliza os itens verticalmente, se necessário */
    text-align: center;             /* Centraliza o texto */
    height: 100%;     
  }
  
  h3 {
    font-size: 1.5rem;
    color: #004085;
    margin-bottom: 20px;
  }

  h1{
    margin: 10px;
  }


  /* Contêiner do Chatbot */
.chatbot-container {
    position: fixed; /* Fixado na posição especificada */
    bottom: 20px;    /* Distância do canto inferior */
    right: 20px;     /* Distância do canto direito */
    width: 500px;    /* Largura do contêiner */
    height: 470px;   /* Altura do contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Esconde partes excedentes do iframe */
    z-index: 9999;    /* Garantir que o chatbot esteja acima de outros elementos */
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .chatbot-container {
        width: 5cqb;  /* Ajusta largura em telas menores */
        height: 400px; /* Altura menor em telas menores */
        bottom: 10px; /* Ajusta a distância do rodapé */
        right: 5%; /* Centraliza mais em telas pequenas */
    }
}

  p{
    margin: 10px;
    /* width: 750px; */
  }
  
  .list-group-item {
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .list-group-item:hover {
    background-color: #e2e6ea;
  }
  
  .list-group-item.active {
    background-color: #004085;
    color: #fff;
  }
  
  .module-info p {
    margin-bottom: 10px;
  }
  
  .img-fluid {
    border-radius: 10px;
    width: 100%;

  }

  .container-imagem{
    width: 750px;
  }

  .container-video{
    width: 750px;
    margin-top: 10px;
  }
  
  .btn {
    font-weight: bold;
  }

  .btn-inicio{
        background-color: rgb(255, 242, 0);
    color: #002c4e;
    border: 1px solid #002c4e;
    width: 80px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-prox {
       background-color: #002c4e;
    color: white;
    width: 100px;
  }
  
.btn-concluir{
  background-color: rgb(255, 242, 0);
  width: 600px;
}

.btn-concluir:hover{
  background-color: rgb(255, 247, 96);
  color: #002c4e;
}

  .shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .rounded {
    border-radius: 10px;
  }
  