<head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
</head>

<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- Painel Esquerdo -->
    <div class="col-md-3 left-panel">
      <!-- Botões de Navegação -->
      <div class="d-flex justify-content-between mb-4">
        <a (click)="voltarPagina()" class="btn btn-inicio flex-grow-1 me-2 text-center">
          &larr; Início
        </a>
        <!-- Botão de Próximo -->
        <button (click)="voltarModulo()" class="btn btn-prox flex-grow-1 ms-2 text-center">Voltar</button>
        <button (click)="proximoModulo()" class="btn btn-prox flex-grow-1 ms-2 text-center">Próximo</button>
        <!-- Botão de Voltar -->
      </div>

      <!-- Lista de Módulos -->
      <h3>Módulos</h3>
      <ul class="list-group">
        <li *ngFor="let modulo of treinamentoSelecionado?.modulos; let i = index"
            [class.active]="i === moduloAtual"
            class="list-group-item list-group-item-action"
            (click)="selecionarModulo(i)">
          {{ modulo.titulo }}
        </li>
      </ul>

      <!-- Informações do Módulo Selecionado -->
      <div *ngIf="moduloSelecionado" class="module-info mt-3">
        <p><strong>Possui certificação?</strong> {{ moduloSelecionado.certificacao ? 'Sim' : 'Não' }}</p>
        <p><strong>Pré-Requisitos:</strong> {{ moduloSelecionado.preRequisitos || 'Nenhum' }}</p>
        <p><strong>Público:</strong> {{ moduloSelecionado.publico || 'Geral' }}</p>
        <p><strong>Obrigatório:</strong> {{ moduloSelecionado.obrigatorio ? 'Sim' : 'Não' }}</p>
      </div>
    </div>

    <!-- Painel Direito -->
    <div class="col-md-9 right-panel">
      <h1>{{ moduloSelecionado?.titulo || 'Selecione um Módulo' }}</h1>
      <p>{{ moduloSelecionado?.descricao || 'Descrição não disponível.' }}</p>

      <!-- Imagem do Módulo -->
      <div *ngIf="moduloSelecionado?.imagem" class="container-imagem mb-3">
        <img [src]="moduloSelecionado?.imagem" alt="Imagem do Módulo" class="img-fluid">
      </div>

      <!-- Vídeo do Módulo -->
      <div *ngIf="videoUrl" class="container-video">
        <iframe [src]="videoUrl" width="80%" height="350" frameborder="0" allowfullscreen></iframe>
      </div>               
      <!-- Botão de conclusão do curso -->
      <button *ngIf="isUltimoModulo()" (click)="concluirCurso()" class="btn btn-concluir" id="concluir" >
        Emitir Certificado!
      </button>
    </div>

  <!-- ChatBot -->
  <iframe src="../.././../assets/ChatBot_Genius/chat.html" style="width: 100%; height: 400px; border: none;"></iframe>
    
  </div>
</div>